<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <import resource="infra.xml"></import>-->
<!--    <context:property-placeholder location="classpath:application.properties"/>-->
<!--    <context:component-scan base-package="labs.intro.quoters"/>-->

<!--    <bean class="labs.intro.quoters.IntegerFactory" id="factory"/>-->
<!--    <bean class="java.lang.Integer" factory-bean="factory" factory-method="createInteger" scope="prototype"/>-->

<!--    <bean class="labs.intro.quoters.ShakeSpearQuoter" id="shakeSpearQuoter">-->
<!--        <property name="message" value="${shake}"/>-->
<!--    </bean>-->
<!--    <bean class="labs.intro.quoters.TerminatorQuoter" id="terminatorQuoter">-->
<!--        <property name="messages">-->
<!--            <list value-type="java.lang.String">-->
<!--                <value>I'll be back</value>-->
<!--                <value>Astalavista, baby</value>-->
<!--                <value>Give me your clothes</value>-->
<!--                <value>Come with me, if you want to live</value>-->
<!--                <ref bean="anotherMessage"/>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->
<!--    <bean class="labs.intro.quoters.TalckingRobotImpl" id="talckingRobot">-->
<!--        <property name="quoters">-->
<!--            <list>-->
<!--                <ref bean="terminatorQuoter"/>-->
<!--                <ref bean="shakeSpearQuoter"/>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->
<!--    <bean class="java.lang.String" id="anotherMessage">-->
<!--        <constructor-arg value="Trust me"/>-->
<!--    </bean>-->
</beans>